{% extends 'base.html.twig' %}

{% block title %}Articles sur {{ category.name }} - Limhu Santé et Bien-être{% endblock %}


{% block description %}Découvrez les articles de la catégorie {{ category.name }} sur Limhu. Explorez des conseils santé, des astuces bien-être et des informations précieuses pour une vie saine et équilibrée.{% endblock %}

{% block keywords %}articles santé, Limhu, bien-être, conseils santé, articles récents, {{ category.name }}, santé naturelle, mode de vie sain, nutrition, remise en forme{% endblock %}
{% block body %}
	<section id="articles" class="articles">
		<div class="container">
			<h1>Articles de Limhu - {{ category.name }}</h1>
			{% for article in articles %}
				<div class="article">
					<h2>{{article.title}} par Limhu</h2>
					<h3>{{article.subTitle}} chez limhu</h3>
					<small>{{ article.createAt|date('d/m/Y') }}</small>
					<p>{{ article.content|striptags|raw|slice(0, 200) }}</p>
					<a href="{{ path('app_article', {'category': article.category.slug, 'slug': article.slug}) }}" class="read-more">Lire la suite</a>
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
