{% extends 'base.html.twig' %}

{% block title %}Blog de Limhu - Articles sur la Santé Naturelle et le Bien-être{% endblock %}

{% block description %}Bienvenue sur le blog de Limhu ! Découvrez des articles récents sur la santé naturelle, le bien-être et les conseils pour une vie équilibrée. Explorez des astuces santé, des remèdes naturels, des informations nutritionnelles, et bien plus encore. Restez informé et inspirez-vous pour un style de vie sain avec Limhu.{% endblock %}

{% block keywords %}Limhu, blog santé, articles bien-être, santé naturelle, conseils santé, remèdes naturels, nutrition, style de vie sain, gestion du stress, méditation, relaxation, exercices physiques, développement personnel, santé holistique, produits naturels, astuces santé{% endblock %}


{% block body %}
	<div class="container">
		<h1>Articles récents</h1>
		<div class="articles">
			{% for article in articles %}
				<article>
					<h2>{{ article.title }}</h2>
					<h3>{{article.subTitle}}</h3>
					<small>{{ article.createAt|date('d/m/Y') }}</small>
					<p>{{ article.content|striptags|raw|slice(0, 200) }}</p>
					<a href="{{ path('app_article', {'category': article.category.slug, 'slug': article.slug}) }}" class="read-more">Lire la suite</a>
				</article>
			{% endfor %}
		</div>

		<aside>
			<h2>Catégories</h2>
			<ul class="categories">
				{% for category in categories %}
					<li style="padding-top:30px;padding-bot:30px">
						<a href="{{ path('app_category', {'slug': category.slug}) }}">{{ category.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</aside>
	</div>
{% endblock %}
