{% extends 'base.html.twig' %}

{% block title %}Derniers articles du Blog de Limhu{% endblock %}

{% block description %}Découvrez les articles récents du Blog de Limhu. Explorez une variété de sujets passionnants couvrant la santé, le bien-être et bien plus encore. Restez informé avec les dernières nouvelles et conseils pour une vie saine et équilibrée.{% endblock %}

{% block keywords %}Limhu,Articles santé, conseils bien-être, astuces santé naturelle, informations nutritionnelles, remèdes naturels, style de vie sain, gestion du poids, exercices physiques, méditation et relaxation, développement personnel{% endblock %}


{% block body %}
	<div class="container">
		<h1>Articles récents</h1>
		<div class="articles">
			{% for article in articles %}
				<article>
					<h2>{{ article.title }}</h2>
					<h3>{{article.subTitle}}</h3>
					<small>{{ article.createAt|date('d/m/Y') }}</small>
					<p>{{ article.content|striptags|raw|slice(0, 200) }}</p>
					<a href="{{ path('app_article', {'category': article.category.slug, 'slug': article.slug}) }}" class="read-more">Lire la suite</a>
				</article>
			{% endfor %}
		</div>

		<aside>
			<h2>Catégories</h2>
			<ul class="categories">
				{% for category in categories %}
					<li style="padding-top:30px;padding-bot:30px">
						<a href="{{ path('app_category', {'slug': category.slug}) }}">{{ category.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</aside>
	</div>
{% endblock %}
