<!DOCTYPE html>
<html lang="fr">
	<head>


		{% set title = block('title') %}
		{% set description = block('description') %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="author" content="Limhu">
		<meta name="generator" content="Limhu">
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#4285f4"> 

		<meta property="og:type" content="website"/>
		<meta property="og:title" content="{{title}}"/>
		<meta property="og:description" content="{{description}}"/>
		<meta property="og:image" content="https://www.limhu-sante.fr/images/300.webp"/>
		<meta property="og:url" content="https://www.limhu-sante.fr"/>

		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:title" content="{{title}}"/>
		<meta name="twitter:description" content="{{description}}"/>

		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" href="{{ asset('/images/ico.ico') }}" type="image/x-icon">
		<link rel="manifest" href="{{ asset('manifest.webmanifest') }}">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<div class="container">
					<a href="{{ path('app_homepage') }}" class="logo">Limhu</a>
					<ul class="menu">
						<li>
							<a href="{{ path('app_homepage') }}">Accueil</a>
						</li>
						<li>
							<a href="{{ path('app_about') }}">À propos</a>
						</li>
						<li>
							<a href="{{ path('app_blog') }}">Blog</a>
						</li>
						<li>
							<a href="{{ path('app_contact') }}">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
